.Footer {
    background-color: #B79CED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #f2f2f2;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer-left .footer-brand {
    font-weight: bold;
    font-size: 18px;
  }
  
  .footer-center {
    display: flex;
    gap: 20px;
  }
  
  .footer-center a {
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .footer-center a:hover {
    text-decoration: underline;
  }
  
  .footer-right {
    display: flex;
    gap: 10px;
  }
  
  .footer-icon {
    font-size: 20px;
    color: #f2f2f2;
    cursor: pointer;
  }
  
  .footer-icon:hover {
    color: #ddd;
  }
  